.messages-name {
    display: inline-block; 
    width: 10%; 
    margin-right: 5%;
}

.messages-date {
    display: inline-block; 
    width: 10%; 
    margin-right: 5%;
}

.categories-name {
    display: inline-block; 
    width: 50%; 
    margin-right: 5%;
}